.codex
node_modules/
*__pycache__/
.env
/cogwiz
demo.py
server/media/
server/vectorDB
*vectorDB/
alembic.ini
/server/migrations/versions/*
!/server/migrations/versions/
*tmp/
.pytest*/
tasks.txt
*prod_DockerFile.yml
*.env
docker-compose.yml
