.codex
node_modules/
*__pycache__/
.env
/cogwiz
demo.py
server/media/
server/vectorDB
*vectorDB/
alembic.ini
/server/migrations/versions/*
!/server/migrations/versions/
*tmp/
.pytest*/
tasks.txt
*.env
.agents/
.codex/
samples/
requirements/
weights/
.venv
.mycli-fts
logs/
media/
.mycli/
.mycli.conf
.hf_cache/
local-hf-cache/