HF_API_KEY = your-api-key
HF_BASE_URL = https://router.huggingface.co/hf-inference/models
# HF_BASE_URL = https://api-inference.huggingface.co/models # not supported

# Database Configuration
DB_USER=user
DB_PASSWORD=pwd
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cognitivewizard
DATABASE_URL=mysql+pymysql://user:pwd@localhost:3306/cognitivewizard
REDIS_HOST = localhost
REDIS_DB_INDEX = 0
REDIS_PORT = 6379

# JWT Configuration
JWT_SECRET_KEY=secret
ACCESS_TOKEN_EXPIRE_MINUTES=120

# HF MODEL CONFIGS
USE_LOCAL_MODEL = False
QUIZ_GENERATOR_MODEL = deepseek-ai/DeepSeek-V4-Pro:novita
QUIZ_GENERATOR_MODEL_LOCAL = Qwen/Qwen2.5-0.5B-Instruct
INSIGHTFACE_MODEL_DIR = /your-dir

# Admin credentials
ADMIN_EMAIL = pwd@abc.com
ADMIN_PASS = pwd


# API KEYS
GEMINI_KEY = gemini-key
OPENAI_API_KEY = openai-key
# LLM configs
OPENAI_DEF_MODEL = gpt-4o-mini
HF_DEF_MODEL = deepseek-ai/DeepSeek-V4-Pro
DEF_LLM_PROVIDER = huggingface