HF_API_KEY = 
HF_BASE_URL = https://router.huggingface.co/hf-inference/models
CHROMA_PERSIST_DIR = 
# =========
# Database Configuration
# =========
MONGO_URI =
MONGO_DB_NAME = cognitive_wizard_chat
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cognitivewizard
DATABASE_URL=
# Redis configs
REDIS_HOST = localhost
REDIS_DB_INDEX = 0
REDIS_PORT = 6379

# =============
# JWT Configuration
# =============
JWT_SECRET_KEY=cogwiz
ACCESS_TOKEN_EXPIRE_MINUTES=120
# =============
# HF MODEL CONFIGS
# =============
USE_LOCAL_MODEL = False
QUIZ_GENERATOR_MODEL = meta-llama/Llama-3.1-8B-Instruct:cerebras
QUIZ_GENERATOR_MODEL_LOCAL = Qwen/Qwen2.5-0.5B-Instruct
INSIGHTFACE_MODEL_DIR =
LIVENESS_THRESHOLD = 0.6
FACE_LOGIN_RATE_MAX = 5
FACE_LOGIN_RATE_WINDOW = 60
FACE_LOGIN_MAX_BYTES = 5242880
# =============
# Admin credentials
# =============
ADMIN_EMAIL = admin@cogwiz.com
ADMIN_PASS = cogwiz
# =============
# LLM configs
# =============
OPENAI_DEF_MODEL = gpt-4o-mini
HF_DEF_MODEL = meta-llama/Llama-3.1-8B-Instruct:cerebras
DEF_LLM_PROVIDER = huggingface

# =============
# Other OS configs
# =============
MEDIA_DIR = 



# =============
# RAZOPAY configs
# =============
RAZORPAY_ORDER_URL = "https://api.razorpay.com/v1/orders"
RAZORPAY_KEY_ID = 
RAZORPAY_KEY_SECRET = 



# ===== Deployement
CORS_ALLOW_ORIGINS = http://localhost:5173


url = 
db_name = defaultdb
host = 
port = 
user = 
password = 



DEF_EMBEDD_MODEL= all-MiniLM-L6-v2

# ====== EVALUATION CONFIGS
RAG_EVAL_LLM = meta-llama/Llama-3.1-8B-Instruct:cerebras


# ===== SMTP configs
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 
SMTP_USERNAME = 
SMTP_PASSWORD = 
SMTP_FROM_EMAIL = noreply@abc.app
SMTP_USE_TLS = true
